/*  MEDIA QUERIES  */
/* @media (max-width: 960) {
  #arrow {
    display: block;
    position: absolute;
    top: 175px;
    right: 5%;
  }
} */


/*  NORMAL  */

#blog {
  position: relative;
  height: 100vh;
}

#blog h1 {
  padding-top: 80px;
  text-align: center;
  font-size: 70px;
  color: #A1ADB3;
}

#blog h1 img {
  vertical-align: middle;
  margin-right: 10px;
  height: 70px;
}

#blog-container {
  display: flex;
  justify-content: space-around;
}

#blog-index {
  display: flex;
}

.article {
  display: flex;
  justify-content: s
}

.article > p {
  margin-left: 40px;
  width: 60%;
}

.article-title {
  font-size: 30px;
  margin-left: 40px;
}

.article-title p {
  font-size: 16px;
}

#sidebar {
  margin-right: 100px;
  width: 200px;
}

#sidebar img {
  width: 150px;
}
