#footer {
  display: flex;
  background: #A1ADB3;
  color: white;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: flex-end;
}

#footer a {
  margin: 8px 5px 0 0;
  height: 40px;
}

#footer a img {
  width: 40px;
  vertical-align: middle;
}
